# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
_libgcc_mutex=0.1=main
_openmp_mutex=5.1=1_gnu
adlfs=2023.8.0=pypi_0
aiobotocore=2.5.4=pypi_0
aiohttp=3.8.5=pypi_0
aiohttp-retry=2.8.3=pypi_0
aioitertools=0.11.0=pypi_0
aiooss2=0.2.7=pypi_0
aiosignal=1.3.1=pypi_0
aliyun-python-sdk-core=2.13.36=pypi_0
aliyun-python-sdk-kms=2.16.2=pypi_0
amqp=5.1.1=pypi_0
antlr4-python3-runtime=4.9.3=pypi_0
anyio=4.0.0=pypi_0
appdirs=1.4.4=pypi_0
argcomplete=3.1.2=pypi_0
async-timeout=4.0.3=pypi_0
asyncssh=2.13.2=pypi_0
atpublic=4.0=pypi_0
attrs=23.1.0=pypi_0
azure-core=1.29.4=pypi_0
azure-datalake-store=0.0.53=pypi_0
azure-identity=1.14.0=pypi_0
azure-storage-blob=12.18.1=pypi_0
bcrypt=4.0.1=pypi_0
billiard=4.1.0=pypi_0
boto3=1.28.17=pypi_0
botocore=1.31.17=pypi_0
ca-certificates=2023.08.22=h06a4308_0
cachetools=5.3.1=pypi_0
celery=5.3.4=pypi_0
certifi=2023.7.22=pypi_0
cffi=1.15.1=pypi_0
charset-normalizer=3.2.0=pypi_0
click=8.1.7=pypi_0
click-didyoumean=0.3.0=pypi_0
click-plugins=1.1.1=pypi_0
click-repl=0.3.0=pypi_0
cmake=3.25.0=pypi_0
colorama=0.4.6=pypi_0
configobj=5.0.8=pypi_0
contourpy=1.1.1=pypi_0
crcmod=1.7=pypi_0
cryptography=41.0.3=pypi_0
cycler=0.11.0=pypi_0
decorator=5.1.1=pypi_0
dictdiffer=0.9.0=pypi_0
diskcache=5.6.3=pypi_0
distro=1.8.0=pypi_0
dpath=2.1.6=pypi_0
dulwich=0.21.6=pypi_0
dvc=3.22.0=pypi_0
dvc-azure=2.22.1=pypi_0
dvc-data=2.16.1=pypi_0
dvc-gdrive=2.20.0=pypi_0
dvc-gs=2.22.1=pypi_0
dvc-hdfs=2.19.0=pypi_0
dvc-http=2.30.2=pypi_0
dvc-objects=1.0.1=pypi_0
dvc-oss=2.21.0=pypi_0
dvc-render=0.6.0=pypi_0
dvc-s3=2.23.0=pypi_0
dvc-ssh=2.22.2=pypi_0
dvc-studio-client=0.15.0=pypi_0
dvc-task=0.3.0=pypi_0
dvc-webdav=2.19.1=pypi_0
dvc-webhdfs=2.19.0=pypi_0
exceptiongroup=1.1.3=pypi_0
filelock=3.12.4=pypi_0
flatten-dict=0.4.2=pypi_0
flufl-lock=7.1.1=pypi_0
fonttools=4.42.1=pypi_0
frozenlist=1.4.0=pypi_0
fsspec=2023.6.0=pypi_0
funcy=2.0=pypi_0
gcsfs=2023.6.0=pypi_0
gitdb=4.0.10=pypi_0
gitpython=3.1.36=pypi_0
google-api-core=2.11.1=pypi_0
google-api-python-client=2.100.0=pypi_0
google-auth=2.23.0=pypi_0
google-auth-httplib2=0.1.1=pypi_0
google-auth-oauthlib=1.1.0=pypi_0
google-cloud-core=2.3.3=pypi_0
google-cloud-storage=2.10.0=pypi_0
google-crc32c=1.5.0=pypi_0
google-resumable-media=2.6.0=pypi_0
googleapis-common-protos=1.60.0=pypi_0
grandalf=0.8=pypi_0
h11=0.14.0=pypi_0
httpcore=0.18.0=pypi_0
httplib2=0.22.0=pypi_0
httpx=0.25.0=pypi_0
hydra-core=1.3.2=pypi_0
idna=3.4=pypi_0
importlib-resources=6.0.1=pypi_0
isodate=0.6.1=pypi_0
iterative-telemetry=0.0.8=pypi_0
jinja2=3.1.2=pypi_0
jmespath=0.10.0=pypi_0
joblib=1.3.2=pypi_0
kiwisolver=1.4.5=pypi_0
knack=0.11.0=pypi_0
kombu=5.3.2=pypi_0
labelme2yolo=0.1.2=pypi_0
ld_impl_linux-64=2.38=h1181459_1
libffi=3.4.4=h6a678d5_0
libgcc-ng=11.2.0=h1234567_1
libgomp=11.2.0=h1234567_1
libstdcxx-ng=11.2.0=h1234567_1
lit=15.0.7=pypi_0
markdown-it-py=3.0.0=pypi_0
markupsafe=2.1.2=pypi_0
matplotlib=3.8.0=pypi_0
mdurl=0.1.2=pypi_0
mpmath=1.2.1=pypi_0
msal=1.24.0=pypi_0
msal-extensions=1.0.0=pypi_0
multidict=6.0.4=pypi_0
ncurses=6.4=h6a678d5_0
networkx=3.1=pypi_0
numpy=1.24.4=pypi_0
oauth2client=4.1.3=pypi_0
oauthlib=3.2.2=pypi_0
omegaconf=2.3.0=pypi_0
opencv-python=4.8.0.76=pypi_0
openssl=3.0.10=h7f8727e_2
orjson=3.9.7=pypi_0
oss2=2.18.1=pypi_0
ossfs=2023.8.0=pypi_0
packaging=23.1=pypi_0
pandas=2.1.0=pypi_0
pathspec=0.11.2=pypi_0
pillow=9.3.0=pypi_0
pip=23.2.1=py39h06a4308_0
platformdirs=3.10.0=pypi_0
portalocker=2.8.2=pypi_0
prompt-toolkit=3.0.39=pypi_0
protobuf=4.24.3=pypi_0
psutil=5.9.5=pypi_0
py-cpuinfo=9.0.0=pypi_0
pyarrow=13.0.0=pypi_0
pyasn1=0.5.0=pypi_0
pyasn1-modules=0.3.0=pypi_0
pycparser=2.21=pypi_0
pycryptodome=3.19.0=pypi_0
pydot=1.4.2=pypi_0
pydrive2=1.17.0=pypi_0
pygit2=1.13.0=pypi_0
pygments=2.16.1=pypi_0
pygtrie=2.5.0=pypi_0
pyjwt=2.8.0=pypi_0
pyopenssl=23.2.0=pypi_0
pyparsing=3.1.1=pypi_0
python=3.9.18=h955ad1f_0
python-dateutil=2.8.2=pypi_0
pytz=2023.3.post1=pypi_0
pyyaml=6.0.1=pypi_0
readline=8.2=h5eee18b_0
requests=2.31.0=pypi_0
requests-oauthlib=1.3.1=pypi_0
rich=13.5.3=pypi_0
rsa=4.9=pypi_0
ruamel-yaml=0.17.32=pypi_0
ruamel-yaml-clib=0.2.7=pypi_0
s3fs=2023.6.0=pypi_0
s3transfer=0.6.2=pypi_0
scikit-learn=1.2.2=pypi_0
scipy=1.11.2=pypi_0
scmrepo=1.3.1=pypi_0
seaborn=0.12.2=pypi_0
setuptools=68.0.0=py39h06a4308_0
shortuuid=1.0.11=pypi_0
shtab=1.6.4=pypi_0
six=1.16.0=pypi_0
smmap=5.0.1=pypi_0
sniffio=1.3.0=pypi_0
sqlite=3.41.2=h5eee18b_0
sqltrie=0.7.0=pypi_0
sshfs=2023.7.0=pypi_0
sympy=1.11.1=pypi_0
tabulate=0.9.0=pypi_0
threadpoolctl=3.2.0=pypi_0
tk=8.6.12=h1ccaba5_0
tomlkit=0.12.1=pypi_0
torch=2.0.1+cu118=pypi_0
torchaudio=2.0.2+cu118=pypi_0
torchvision=0.15.2+cu118=pypi_0
tqdm=4.66.1=pypi_0
triton=2.0.0=pypi_0
typing-extensions=4.8.0=pypi_0
tzdata=2023.3=pypi_0
ultralytics=8.0.181=pypi_0
uritemplate=4.1.1=pypi_0
urllib3=1.26.16=pypi_0
vine=5.0.0=pypi_0
voluptuous=0.13.1=pypi_0
wcwidth=0.2.6=pypi_0
webdav4=0.9.8=pypi_0
wheel=0.38.4=py39h06a4308_0
wrapt=1.15.0=pypi_0
xz=5.4.2=h5eee18b_0
yarl=1.9.2=pypi_0
zc-lockfile=3.0.post1=pypi_0
zipp=3.17.0=pypi_0
zlib=1.2.13=h5eee18b_0
